  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Open Sans", sans-serif;
  }

  :root {
      --color1: rgb(27, 15, 43);
  }

  body {
      overflow-x: hidden;
      background-color: var(--color1);

  }

  .header {
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
  }


  .logo {
      background-image: linear-gradient(to top, #b8b8b8 0%, #c2b2ec 100%);
      background-size: 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      font-size: 1.2rem;
      flex-direction: column;
  }

  .logo i {
      font-size: 3em;
  }

  .navbar {
      display: flex;
      width: 100%;
      padding: 0 30px;
      align-items: center;
      justify-content: center;
  }

  .navconts {
      display: flex;
      width: 100%;
      /* max-width: 1000px; */
      list-style: none;
      justify-content: center;
  }

  .navitem {
      margin-left: 20px;
  }

  .link {
      text-decoration: none;
      color: rgb(209, 205, 205);
      transition: all 0.35s;
  }

  .link:hover {
      color: rgb(42, 164, 235);
  }

  .trendings {
      background: transparent;
      margin-top: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 2rem 1rem;
      /* overflow: hidden; */
  }

  .a-trending {
      margin-top: 20px;
  }

  .trend__title {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: rgb(209, 205, 205);
  }

  .trend__title h2 {
      display: flex;
      align-items: center;
  }

  .trend__title i {
      margin-top: 8px;
      margin-left: 8px;
  }

  .trends__wrapper {
      margin-top: 20px;
      display: grid;
      grid-auto-flow: column;
      overflow-x: auto;
      grid-auto-columns: 23%;
      -ms-overflow-style: none;
      scrollbar-width: none;
      overscroll-behavior-inline: contain;
  }

  .trends__wrapper::-webkit-scrollbar {
      display: none;
  }

  .navconts::-webkit-scrollbar {
      display: none;
  }

  .trends__wrapper a,
  .action__wrapper a {
      text-decoration: none;
  }

  .trends__card {
      margin: 10px;
      background-color: #131111a6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: rgb(209, 205, 205);
      transition: 0.3s ease-in;
  }

  .trends__card img {
      width: 100%;
      height: 30vh;
      object-fit: cover;
  }

  .trends__card h2 {
      text-align: center;
  }

  .trends__card p {
      text-align: center;
      margin-top: 24px;
      font-size: 20px;
  }

  .trends__btn {
      display: flex;
      justify-content: center;
      margin-top: 16px;
  }

  .trends__btn p {
      color: rgb(209, 205, 205);
      padding: 0.5em 0.9em;
      border: none;
      margin-bottom: 20px;
      outline: none;
      border-radius: 4px;
      background: #0f142e;
      font-size: 1rem;
  }

  .trends__btn p:hover {
      cursor: pointer;
  }

  .trends__card:hover {
      transform: scale(1.075);
      transition: 0.3s ease-in;
      cursor: pointer;
  }

  .categories {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      color: rgb(209, 205, 205);
  }

  .cat-cont {
      display: grid;
      grid-template-columns: 30% 30%;
      grid-auto-columns: 40%;
      justify-content: center;
      grid-gap: 4%;
      padding: 0 20px;
      width: 100%;
      align-items: center;
  }

  .cat-card {
      text-decoration: none;
      background-color: #1a1a1a;
  }

  .cat-card:nth-child(1) {
      display: flex;
      flex-direction: column;
      background: url(https://i0.wp.com/ravemotionpictures.com/wp-content/uploads/2022/03/The-Batman-Digital-Release-Date.jpeg?w=1980&ssl=1);
      background-size: 100%;
      width: 100%;
      padding: 30% 20%;
      background-repeat: no-repeat;
      background-size: 150%;
  }

  .cat-card:nth-child(2) {
      background: url(https://cdn.mos.cms.futurecdn.net/yBbEW7hX2k5qK35PkeDqFV-1024-80.jpg.webp);
      display: flex;
      flex-direction: column;
      background-size: 150%;
      width: 100%;
      padding: 30% 20%;
      background-repeat: no-repeat;
      background-size: 150%;
  }

  .cat-card:nth-child(3) {
      background: url(https://i.guim.co.uk/img/media/d31ebd49b32a5aa609a584ababb1e03bc70b4942/573_213_2929_1758/master/2929.jpg?width=620&quality=45&auto=format&fit=max&dpr=2&s=f635c67f6d38faabc03568df3ad1a7d9);
      display: flex;
      flex-direction: column;
      background-size: 150%;
      width: 100%;
      padding: 30% 20%;
      background-repeat: no-repeat;
      background-size: 150%;
  }

  .cat-card:nth-child(4) {
      background: url(https://static1.colliderimages.com/wordpress/wp-content/uploads/2021/11/central-intelligence-social.jpg?q=50&fit=contain&w=750&h=375&dpr=1.5);
      display: flex;
      flex-direction: column;
      background-size: 150%;
      width: 100%;
      background-color: #e9c00a;
      padding: 30% 20%;
      background-repeat: no-repeat;
      background-size: 150%;
  }

  .cat-card:nth-child(5) {
      background: url(https://www.westernnewyorker.com/wp-content/uploads/2022/01/Hotel-Transylvania-4-Review.png);
      display: flex;
      flex-direction: column;
      background-size: 150%;
      width: 100%;
      padding: 30% 20%;
      background-repeat: no-repeat;
      background-size: 150%;
  }

  .cat-card:nth-child(6) {
      background: url(https://static1.colliderimages.com/wordpress/wp-content/uploads/2021/12/who-is-michael-morbius.jpg?q=50&fit=contain&w=750&h=375&dpr=1.5);
      display: flex;
      flex-direction: column;
      background-color: #9c9ea1;
      background-size: 150%;
      width: 100%;
      padding: 30% 20%;
      background-repeat: no-repeat;
      background-size: 150%;
  }

  .cat-card img {
      width: 80%;
  }

  .desc {
      color: rgb(209, 205, 205);
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      font-size: 1.2em;
      background-color: rgba(27, 15, 43, 0.74);
      align-items: center;
  }

  .desc button {
      background-color: var(--color1);
      color: rgb(209, 205, 205);
      padding: 3px 8px;
      border-radius: 4px;
      font-size: 1em;
      cursor: pointer;
      border: none;
      transition: all 0.35s;
  }


  /*Action, an, ...cat*/
  .action__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  }


  @media screen and (max-width: 1000px) {
      .cat-cont {
          grid-template-columns: 1fr 1fr;
      }
  }

  @media screen and (max-width: 600px) {
      .trends__wrapper {
          grid-auto-columns: 50%!important;
      }

      .cat-card:nth-child(6) {
          background-color: transparent;
      }

      .trend__title h2 {
          font-size: 1.1em;
      }

      .action__wrapper {
          grid-template-columns: repeat(3, 1fr);
      }

      .trends__card p,
      .trends__btn p {
          font-size: .9em;
      }

      .navconts {
          margin-top: 20px;
          display: grid;
          grid-gap: 5%;
          grid-template-columns: repeat(3, 1fr);
          /* overflow-x: auto; */
          /* grid-auto-columns: 17%; */
          overscroll-behavior-inline: contain;
      }
  }

  @media screen and (max-width: 400px) {
      .trends__wrapper {
          grid-auto-columns: 60%;
      }

      .action__wrapper {
          grid-template-columns: repeat(2, 1fr);
      }

      .cat-cont {
          grid-template-columns: 1fr;
      }

      .navconts {
          margin-top: 20px;
          display: grid;
          grid-gap: 5%;
          grid-template-columns: repeat(2, 1fr);
          overscroll-behavior-inline: contain;
      }
  }

  @media screen and (max-width: 300px) {
      .trends__wrapper {
          grid-auto-columns: 80%;
      }

      .action__wrapper {
          grid-template-columns: repeat(1, 1fr);
      }
  }

  .News {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgb(209, 205, 205);
      margin-top: 10px;
  }

  .newscont,
  .newsdesc h3 {
      width: 80%;
  }

  .newsdesc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .newsdesc a {
      text-decoration: none;
      margin-top: 20px;
      width: 20%;
      min-width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 10px;
      background-color: rgb(15, 7, 90);
      color: rgb(209, 205, 205);
      transition: all 0.35s;
  }

  .newsdesc a:hover {
      background-color: #150675;
  }

  .newsholder {
      display: flex;
      margin-top: 20px;
  }

  .nesimag {
      width: 50%;

  }

  .nesimag img {
      width: 100%;

  }

  .newsdesc {
      width: 50%;
      padding: 10px 20px;
  }

  @media screen and (max-width: 1140px) {
      .newsholder {
          flex-direction: column;
          align-items: center;
      }

      .newsdesc {
          width: 100%;
          align-items: center;
      }

      .nesimag {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
      }

      .nesimag img {
          width: 70%;
      }
      .trends__wrapper{
          grid-auto-columns:300px;
      }
  }

  .slide {
      width: 100%;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      color: #fff;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
  }

  .newcard {
      /* width: 100%; */
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 100%;
      grid-gap: 10%;
      animation-name: translate;
      animation-iteration-count: infinite;
      animation-duration: 15s;
      animation-delay: 3s;
  }

  @keyframes translate {
      0% {
          transform: translateX(0)
      }

      20% {
          transform: translateX(0%)
      }

      40% {
          transform: translateX(-110%)
      }

      60% {
          transform: translateX(-110%)
      }

      80% {
          transform: translateX(-220%)
      }

      100% {
          transform: translateX(-220%)
      }
  }

  .monews {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
  }

  .monews a {
      padding: 1em 2em;
      text-decoration: none;
      color: #d1d0d0;
      background-color: #150675;
      transition: all 0.3s;
  }

  .monews a:hover {
      background-color: #190792;
  }

  .anim{
      background-color: #060606;
      animation-name: loading;
      animation-duration: 1.7s;
      animation-iteration-count: infinite;
  }

  @keyframes loading {
      0%{opacity: 0.2;};
      20%{opacity: 0.5;}
      50%{opacity: 0.8;}
      80%{opacity: 0.5;}
      100%{opacity: 0.2;}
  }