<template>
    <header class="header">
        <a href="index.html" class="logo">
            <i class="bx bxs-movie-play"></i>
            <h1>Movie250</h1>
        </a>
    </header>
</template>
<script>
export default {
    name: 'MyHeader'
}
</script>